* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* .box {
    padding: 20px;
    text-align: center;
} */

.navbar {
    background-color: #3d5467;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}

.logo {
    font-size: 3rem;
    margin-left: 1rem;
    margin-top: .5rem;
}

.menu {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 1.2rem;
}

.link {
    padding: 1.6rem;
    cursor: pointer;
    text-align: center;
}

.link:hover {
    background-color: #456075;
}

.link:active {
    background-color: #4e6d85;
}

.banner {
    background-image: url('../img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-rows: 400px;
    
}

.banner-content {
    width: 75%;
    margin: auto;
    padding: 2rem; 
}

.banner-items {
    width: 75%;
    margin:auto;
    color: white;
    text-align: center;
}

.banner-content h2 {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.banner-content p {
    font-size: 1.3rem;
   
}

.main-content {
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.item {
    text-align: center;
    width: 90%;
    margin:auto;
}

.item h3 {
    margin-bottom: .7rem;
}

.item button {
    width: 25%;
    padding: .5rem;
    background-color: #3d5467;
    border-radius: .2rem;
    margin-top: 0.7rem;
    border: 1px solid #3d5467;
    outline: none;
    color: white;
    cursor: pointer;
}

.item button:hover {
    background-color: #476379;
}

.item button:active {
    background-color: #507088;
}

.form-main {
   background-image: url('../img/2.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   display: grid;
   grid-template-rows: 400px;
   
}

.form-items {
  
    width: 75%;
    margin: auto;
    text-align: center;
    

}


.form-items input, textarea {
 
    margin-bottom: .7rem;
    width: 40%;
    padding: 0.6rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
}

.form-items h2 {
   
    margin-bottom: 1rem;
   
}

.form-items button {
    width: 12%;
    padding: .5rem;
    background-color: #3d5467;
    border-radius: .2rem;
    margin-top: 0.7rem;
    border: 1px solid #3d5467;
    outline: none;
    color: white;
    cursor: pointer;

    
}

.form-items button:hover {
    background-color: #476379;
}

.form-items button:active {
    background-color: #507088;
}

.footer {
    background-color: #4f6c85;
    display: grid;
    grid-template-rows: 75px 50px;
    color: white;
   
}

.footer p {

  margin-left:2rem;
  margin-top:1rem;
 
    
}

.footer a {
    color: white;
    text-decoration: none;
}
.footer a:visited {
    color: white;

}

.footer a:active {
    color: white;

}

.footer a:focus {
    color:white;
}
}

