/* Rubik import */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

/* container flex edildi, width verildi */

.container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    font-family: 'Rubik', 'sans-serif';
}


/* header-top ishleri tamamlandi */

#header-top {
    background-color: #f8f9f9;
    color: #2c2c2c;
    padding: 1rem 0rem;
    border-bottom: 1px solid #e1e1e1;
    font-size: .8rem;
}


/* Conttacta font verildi */

.header-top-contact {}


/* header-settings ul flex edildi */

.header-top-settings ul {
    display: flex;
    font-family: 'Rubik', sans-serif;
}


/* header-setting li margin */

.header-top-settings li {
    margin-left: 1rem;
}


/* header-settings linklere reng verildi */

.header-top-settings a {
    text-decoration: none;
    color: #2c2c2c;
    font-size: .8rem;
}

.header-top-settings li a:hover {
    transition: 500ms;
    color: #fed700;
}


/* header-settingsde son li'den basqa hamsina sag border verildi */

.header-top-settings li:not(.launguage) {
    border-right: 1px solid #cccbcb;
}

.header-top-settings i {
    font-size: .7rem;
    font-weight: 400;
}


/* header-settingsde son i'den basqa hamsina sag margin verildi */

.header-top-settings i:not(li .english) {
    margin-right: 1rem;
}


/* header-middle ustden-altdan padding */

#header-middle {
    padding: 1rem 0rem;
}


/* head-middle ucun container grid edildi */

#header-middle .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px;
    padding: 1.5rem 0rem;
}


/* header-middle-logo grid ile olcu verildi */

.header-middle-logo {
    grid-column: 1/3;
}


/* header-middle-serach grid ile olcu verildi ve flex edildi */

.header-middle-search {
    grid-column: 4/10;
    border: 1px solid #cccbcb;
    border-right: #fed700;
    border-radius: .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* header-middle-search-section a flex edildi yanindaki iconun sagina kecmesi ucun */

.header-middle-search-section a {
    display: flex;
    color: #242424;
    font-size: .9rem;
    text-decoration: none;
}

.header-middle-search-section a i {
    margin: .1rem .3rem;
    font-size: .7rem;
}


/* header-middle-search-section sagdan soldan margin edildi */

.header-middle-search-section {
    margin: 0rem 1rem;
}


/* header-middle-search input width 100% edildi borderi none edildi */

.header-middle-search input {
    width: 100%;
    padding: .3rem 1.3rem;
    border: none;
    outline: none;
    border-left: 1px solid #cccbcb;
    font-size: .8rem;
}


/* header-middle-search-icon (div) height 100% verildi */

.header-middle-search-icon {
    height: 100%;
    background-color: #fed700;
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
    border: 1px solid #fed700;
}


/* header-middle-search-icon hover verildi */

.header-middle-search-icon:hover {
    background-color: #333333;
    border: 1px solid #333333;
    transition: 500ms;
}


/* header-middle-search-icon a hover edildi */

.header-middle-search-icon:hover a {
    color: white;
    transition: 500ms;
}


/* header-middle-search icon padding edildi rengin boyumesi ucun, ortalanmasi ucun flex edildi */

.header-middle-search-icon i {
    padding: 1rem;
}


/* .header-middle-search-icon a font color verildi */

.header-middle-search-icon a {
    color: black;
}


/* header-middle-heart-basket-price grid column ve flex verildi */

.header-middle-heart-basket-price {
    grid-column: 10/13;
    display: flex;
    justify-content: space-between;
}


/* heart divine soldan margin verildi */

.header-middle-heart {
    border: 1px solid #cccbcb;
    margin-left: 2.5rem;
    position: relative;
}

.header-middle-heart span {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #fed700;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem
}


/* header-middle-heart hover verildi */

.header-middle-heart:hover {
    border: 1px solid #fed700;
    transition: 500ms;
}


/* header-middle-heart i hover edildi */

.header-middle-heart i:hover {
    color: #fed700;
    transition: 500ms;
}


/* heart iconuna padding verildi  */

.header-middle-heart i {
    padding: 1rem;
    font-size: 1.2rem;
    color: #242424;
    font-weight: 200;
}

.header-middle-heart a {
    color: black;
}


/* basket ve pricenin oldugu dive width ve flex verildi */

.header-middle-basket-price {
    background-color: #e80f0f;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-middle-basket-price span {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #fed700;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem
}


/* basket divine border verildi */

.header-middle-basket {
    border-right: 1px solid #FFFFFF;
}


/* basket iconuna sagdan soldan margin verildi */

.header-middle-basket i {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0rem .8rem
}


/* price linkine flex verildi sagindaki iconun duzgun oturmasi ucun */

.header-middle-price a {
    display: flex;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-right: 1.3rem;
}


/* price linkindeki icona bezi deyerler verildi */

.header-middle-price a i {
    font-size: .7rem;
    font-weight: 400;
    margin-left: .4rem;
}


/* navbar-menuya background verildi  */

#navbar-menu {
    background-color: #fed700;
    padding: 1.2rem 0rem;
}


/* menu ul  flex edildi */

.menu {
    display: flex;
}


/* menu linkler ishleri */

.menu a {
    text-decoration: none;
    color: #242424;
    font-weight: 700;
    text-transform: uppercase;
    font-size: .8rem;
}


/* menu hover edildi */

.menu a:hover {
    color: white;
    transition: 500ms;
}


/* menudaki yazilar sagdan margin edildi */

.menu li {
    margin-right: 2rem;
}


/* menuda ikonlar soldan margin edidli */

.menu i {
    margin-left: .5rem;
    font-weight: 500;
    font-size: .8rem;
}


/* menudaki ikonlar hover edildi */

.menu a:hover i {
    transition: 250ms;
    transform: rotate(180deg);
}


/* slidere ustden altdan padding verildi */

#slider {
    padding: 1.5rem 0rem;
}


/* slider-center e background img ve width height verildi + grid*/

.slider-center {
    background-image: url('../img/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 70%;
    height: 480px;
    display: grid;
    align-items: center;
    grid-template-columns: 60px 40% 1fr;
}


/* slider-right'a margin, width ve flex verildi */

.slider-right {
    width: 30%;
    margin-left: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* slider-top-bottom-right'a width ve height verildi */

.slider-top-right,
.slider-bottom-right {
    width: 100%;
    height: 230px;
}


/* slider-right imglerine olcu verildi */

.slider-right img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


/* slider-content'e font weight ve grid olcusu verildi*/

.slider-content {
    font-weight: 400;
    grid-column: 2/3;
}


/* slider-content-text h5 font size ve margin bottom verildi */

.slider-content-text h5 {
    font-size: 1.2rem;
    margin-bottom: .8rem;
}


/* slider-content-text span'a reng verildi */

.slider-content-text span {
    color: red;
}


/* slider-content-text-h1 font size ve margin bottom verildi */

.slider-content-text h1 {
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
}


/* SUPPORT CLASS */

.big-span {
    font-size: 2.2rem;
}

.mn-right-1 {
    margin-right: 1rem;
}

.mn-right-1t5 {
    margin-right: 1.5rem;
}

.opacity20 {
    opacity: 20%;
}


/* SUPPORT CLASS */


/* slider-content-btn yuxaridan margin verildi */

.slider-content-btn {
    margin-top: 4rem;
}


/* slider-content-btn a tenzimlemeleri */

.slider-content-btn a {
    background-color: #fed700;
    color: black;
    text-decoration: none;
    padding: .8rem 1.2rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
}


/* slider-content-btn a hover edilmesi */

.slider-content-btn a:hover {
    background-color: #333333;
    color: white;
    border: none;
    transition: 500ms;
}


/* left-arrow'a grid olcusu verildi */

.left-arrow {
    grid-column: 1/2;
    font-size: 2.5rem;
    opacity: 20%;
    margin-left: .6rem;
    transform: scale(0);
    transition: 500ms;
}


/* right-arrow'a grid olcusu verildi */

.right-arrow {
    grid-column: 4/4;
    font-size: 2.5rem;
    opacity: 30%;
    margin-right: .6rem;
    transform: scale(0);
    transition: 500ms;
}


/* slider-center hover edilerken left arrowu goster */

.slider-center:hover .left-arrow {
    transform: scale(1);
}


/* slider-center hover edilerken right arrowu goster */

.slider-center:hover .right-arrow {
    transform: scale(1);
}


/* product-area font family ve padding verildi*/

#product-area {
    font-family: 'Rubik', 'sans-serif';
    padding: 2rem 0rem;
    margin: 2rem 0rem;
}


/* product-area-category width verildi ve flex edildi */

.product-area-category {
    width: 85%;
    margin: auto;
    display: flex;
    border-bottom: 1px solid #e1e1e1;
}


/* 
    prduct area category'da spanin olma sebebi: dizayna gore border-bottom border-righdan arali olmalidir ve uzerine geldikte altina sari xett gelmelidir. Sari xett gelerken ise xettin widh'i textin uzunluguna beraber olmalidir. Span olmadan a'ya padding versek altindan cekilen xett textin uzunlugu + padding'e beraber olardi.

*/


/* product-area-category span sagdan padding edildi, border-right ve margin verildi */

.product-area-category span {
    padding-right: 1.5rem;
    border-right: 1px solid #e1e1e1;
    margin: 0rem 1.5rem .5rem 0rem;
}


/* .none-border ile en sonuncu texte sag border verilmedi */

.product-area-category .none-border {
    border: none
}


/* product-area-category a position relative edildi ve font size verildi */

.product-area-category a {
    color: black;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
}


/* product-area-category add-border::after yaradildi altindan cixan xett ucun ve gizledildi */

.product-area-category .add-border::after {
    content: '';
    position: absolute;
    left: 0;
    top: 1.95rem;
    background-color: #fed700;
    height: 1px;
    width: 100%;
    transform: scale(0);
}


/* .active-border'in hemishe aktiv olmasi ucun */

.product-area-category .active-border::after {
    content: '';
    position: absolute;
    left: 0;
    top: 1.95rem;
    background-color: #fed700;
    height: 1px;
    width: 100%;
}


/* product-area-category'nin after'ine hover verildi  gorulmesi ucun (altdan xett) */

.product-area-category .add-border:hover::after {
    transform: scale(1);
}


/* product-area-category'a hover verildi opacitynin 100% olmagi ucun */

.product-area-category a:hover {
    opacity: 100%;
    transition: 500ms;
}


/* product-area-item'in her birinin widthi ekranin 20% ini tutur */

.product-area-item {
    width: 20%;
    height: 300px;
}


/* product-area-item-image img width 100% edildi */

.product-area-item-image img {
    width: 100%;
    height: 100%;
}


/* product-area-item-category flex edildi textler ve ulduzlar yan yana olmasi ucun */

.product-area-item-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}


/* product-area-item-category-title a font size verildi */

.product-area-item-category-title a {
    color: #a4a4a4;
    font-size: .9rem;
    text-decoration: none;
}


/* product-area-item-category-stars i font size verildi */

.product-area-item-category-stars i {
    color: #a4a4a4;
    font-size: .6rem;
}


/* product-area-item-category-stars .star-color ile elave reng verildi 3 ulduza */

.product-area-item-category-stars .star-color {
    color: #ffc107
}


/* product-area-item-title asagidan margin verildi */

.product-area-item-title {
    margin-bottom: 1rem;
}


/* product-area-item-title a font size verildi */

.product-area-item-title a {
    color: #0363cd;
    text-decoration: none;
    font-weight: 500;
    font-size: .9rem;
}


/* product-area-item-title a hover edildi  */

.product-area-item-title a:hover {
    text-decoration: underline;
}


/* product-area-item-title h5 font size verildi  */

.product-area-item-price h5 {
    font-weight: 500;
    font-size: .9rem;
}


/* static-banner'e yuxaridan asagidan padding */

#static-banner {
    padding: 2rem 0rem;
}


/* static-banner-item'lere width height deyeri */

.static-banner-item {
    width: 33.33%;
    height: 230px;
}


/* static-banner-item img'lara olcular */

.static-banner-item img {
    width: 100%;
    height: 100%;
}


/* product-area-category2 justify content verildi*/

.product-area-category2 {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: .7rem;
}

.product-area-category-left {}

.product-area-category-left span {
    color: black;
    text-decoration: none;
    position: relative;
    font-size: 1.2rem;
    font-weight: 500;
}

.product-area-category-right a {
    color: #a4a4a4;
    text-decoration: none;
    position: relative;
    font-size: .9rem;
    font-weight: 400;
}

.product-area-category-left span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 2rem;
    background-color: #fed700;
    height: 1px;
    width: 100%;
}

.product-area-category-right a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 1.9rem;
    background-color: #fed700;
    height: 1px;
    width: 100%;
    transform: scale(0);
}

.product-area-category-right a:hover {
    color: black;
    transition: 500ms;
}

.product-area-category-right a:hover::after {
    transform: scale(1);
}

#offer-banner .container {
    height: 400px;
    background-image: url('../img/18.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.offer-banner-content {
    margin-left: 3rem;
}

.offer-banner-content .slider-content-text {
    width: 60%;
}